<div class="card-body">
    <table id="datatablesSimple">
        <thead>
            <tr>
                <th>Restaurant Name</th>
                <th>Item Name</th>
                <th>Location</th>
                <th>Available Stock</th>
                <th>Max Stock</th>
                <th><% if (user.role === "admin") {%>Transfer<%} else {%>Apply for Stock<%}%></th>
            </tr>
        </thead>
        <tbody>
            <% if (typeof items !== 'undefined' && items.length > 0) {%>
                <!-- Admin specific content here -->
                <% for (let item of items) { %>
                    <tr>
                        <td><%= user.RestaurantName %></td>
                        <td><%= item.ingredientName %></td>
                        <td><%= user.location %></td>
                        <td><%= item.ingredientNo %></td>
                        <td><%= item.requestIngredientNo %></td>                                                      
                        <td>100</td>
                        <td><button type="button" class="btn btn-primary py-1" 
                        <% if (user.role === "admin") {%>
                            Transfer
                        <%} else {%>
                            onclick="requestStock('<%= item.ingredientName%>',<%= item.ingredientNo%>)">
                        <% } %> &rarr;</button></td>
                    </tr>
                <% } %>
            <% } else { %>
                <tr>
                    <td colspan="7" style="text-align: center;">Data Not found</td>
                </tr>
            <% } %> 
        </tbody>                                    
    </table>
</div>

<script>
    var selectedRows = [];

    $(document).ready(function () {
        $('.selectable-row').click(function () {
            var ingredientName = $(this).find('td:eq(1)').text();
            var ingredientNo = parseInt($(this).find('td:eq(3)').text());

            if (selectedRows.length < 2 && selectedRows.every(row => row.ingredientName === ingredientName && row.ingredientNo < ingredientNo)) {
                $(this).toggleClass('selected-row');
                var isSelected = $(this).hasClass('selected-row');

                if (isSelected) {
                    selectedRows.push({ ingredientName: ingredientName, ingredientNo: ingredientNo });
                } else {
                    selectedRows = selectedRows.filter(row => row.ingredientName !== ingredientName || row.ingredientNo !== ingredientNo);
                }
            } else {
                alert("You can only select two rows with the same ingredient, and the second one should have a higher ingredient number.");
            }
        });
    });
</script>
